@media only screen and (min-width: 768px) {
    :root {
      --cardSizeHeight: 340px;
      --cardSizeWidth: 244px;
    }
    
    
  body {
    padding-top: 12%;
  }

  header {
    padding: 20px 1.5% 20px 3%;
  }

  .bottom .explore {
    display: flex;
    padding: 30px 0px;
  }

  .explain p {
    text-align: left;
  }

  footer {
    display: grid;
    grid-auto-columns: 5fr 1fr 4fr;
    grid-template:
      "disclaimer manaFont map"
      "copyright copyright copyright";
    padding-inline: 10%;
  }

  .footer div {
    padding: 0em;
  }

  footer ul {
    flex-direction: row;
  }

  footer ul.socials {
    margin-bottom: 0px;
  }

  footer ul:not(.socials) li {
    border-left: 1px solid #0000002b;
    border-bottom-width: 0px;
    border-top-width: 0px;
  }

  footer ul li:first-child {
    border-left-width: 0px;
  }

  .copyright {
    grid-area: copyright;
  }

    
    .buffet-filters.right {
      justify-content: flex-end;
    }
    
    .cardSuggestions {
      grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    }
    
    
    .cardSuggestions img,
    .card, 
    .card.selected:after {
        max-height: var(--cardSizeHeight);
    }
    
    .card.basic.selected::after , 
    .card.basic.selected::before {
        height: var(--cardSizeHeight) / 2;
        border: 1px solid red;
    }

    
    .chFooter {
      justify-content: space-between;

  padding: 0px 2.5em;

      
    }
    
    
.totalCardCountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-right: 0em;
    margin-bottom: 0.2em;
    position: relative;
    bottom: 2px;
}


    .chFooter ul .tracker {
      justify-content: flex-start;
      padding-inline: 15px;
      width: calc(100% / 7);
    }


    
  .progress {
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--dark);
    display: flex;
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: 5px;
    height: 18px;
    width: 150px;
    max-width: 185px;
    margin: auto;
  }

  .progress-bar-striped {
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    height: 100%;
  }

  .totalCards {
        display: flex;
        flex-wrap: nowrap;

    margin-bottom: -0.2em;


    }  
    
  .totalNonLands {
    justify-content: center;
    align-items: center;
    font-size: 0.5em;

    }
    .totalNonLands > span {
     position: absolute;
        

    }  
    
  .buffet .top {
    flex-direction: row;
    padding-inline: 0.5em;
  }
    
    
    
    .chCardWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, auto));
    grid-column-gap: 0.25em;
    grid-row-gap: 1em;
    }
    


    
    .wip-disclaimer {
    flex-direction: row;

    }

    .wip-disclaimer button {
        margin-top: 0;
    }

}
