@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --accent: #D14081;
    --primary: #CDDEFF;
    --contrast: #eef2ff;
    --mainBG: #2E2E3A;
    --dark: #F8F1FF;
    --selection: #00000096;
    --bg-art: url(/img/art/bg2.webp);
    --font: ;
    --navFont: 'Archivo', sans-serif;
    --mtg-w: #f8f6d8;
    --mtg-u: #c1d7e9;
    --mtg-b: #cac5c0;
    --mtg-r: #e49977;
    --mtg-g: #a3c095;
    --mtg-c: #cac5c0;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--contrast) #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--contrast);
    border-radius: 10px;
    border: 1px solid #ffffff00;
  }

body{
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 1)
    ), var(--bg-art);
    background-color: #000;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    }

body::before {
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-image: url(/IMG/lines.svg);
    background-size: 8px;
    background-position: center center;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

header.navScrolled .logo
{  

    fill: var(--contrast);
    transition-duration: .15s;

}

header .logo:hover,
header .logo:focus
{

    fill: var(--accent);
    transition-duration: .15s;
}


/* BACKGROUNDS */

.skip-nav-link,
.menu,
header.navScrolled,
header,
footer

{

    background: var(--mainBG);
    
    
}

.skip-nav-link,
.menu ul li a:hover,
.menu ul li div:hover,
.menu ul li a:focus,
.dropdown-sub:checked + label,
.dropdown.parent:checked + label,
label.for-dropdown-sub:hover,
.dropdown-sub:focus + label,
.dropdown.parent:focus + label

{
color: var(--accent);
  transition-duration: .15s;
}

.menu ul li:hover,
.menu ul li:focus,
.menu ul li:focus-within {
    border-bottom-color: var(--accent);
    
}


.menu ul li a,
.menu ul li div,
main::after,
footer,
p

{

    color: var(--contrast);
    
    
}

h1, h2, h3, h4, h5, h6
{
      color: var(--accent);
}


/* FONTS */

p,
textarea,
span {
    font-family: var(--font);
}

.dropdown:checked + label,
.dropdown:not(:checked) + label,
header a {
    font-family: var(--navFont);
}

.dropdown a {
    color: var(--contrast);
      transition-duration: .15s;
}


#combination-name {
    color: var(--contrast);
}






i.ms-w {color: var(--mtg-w);}
i.ms-u {color: var(--mtg-u);}
i.ms-b {color: var(--mtg-b);}
i.ms-r {color: var(--mtg-r);}
i.ms-g {color: var(--mtg-g);}
i.ms-c {color: var(--mtg-c);}